.carouselBody {
  width: 25rem;
  max-width: 90%;
  margin: 2rem auto;

  .imageContainer {
    height: 31.25rem;
    max-height: 90vw;
    display: block;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 1rem;
      transform: translate(-50%, -50%);
    }
  }
}
