* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  .loaderWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .logo {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      width: 18.75rem;
      height: 18.75rem;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
      // transform: scale(1.2);
      // animation: scaleDown 1.5s ease-out forwards;
      margin: 1rem;

      .logoComponent {
        grid-area: 1/1/2/2;
        z-index: 1;
      }
      .ringReveal {
        grid-area: 1/1/2/2;
        z-index: -1;
      }

      img {
        grid-area: 1/1/2/2;
        // width: 400px;
        // height: 400px;
        transform: rotate(0deg);
        animation: rotate 1.5s ease-out forwards;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -12.5rem;
        width: 5rem;
        height: 100%;
        background: rgba(255, 250, 240, 0.7);
        transform: skewX(-30deg);
        z-index: 2;
        animation: shine 2s 2s forwards;
      }
    }
    .textAnim {
      display: grid;
      h2 {
        grid-area: 1/1/2/2;
        // max-width: 80%;
        // opacity: 0;
        text-transform: uppercase;
        // color: #1a1a1a;
        text-align: center;
        font-size: 2rem;
        // letter-spacing: 0.9rem;
        // word-spacing: 1.75rem;
        // animation: shrink 2s ease-in-out 1s forwards;
      }
      h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px hsl(272, 100%, 18%);
      }
      h2:nth-child(2) {
        color: hsl(272, 100%, 18%);
        animation: waterFill 2s ease-in-out 2s infinite alternate;
      }
    }
    // .loaderSection {
    //   position: fixed;
    //   top: 0;
    //   width: 50%;
    //   height: 100%;
    //   background-color: yellowgreen;
    //   opacity: 0;
    //   z-index: 100;
    // }
    // .sectionLeft {
    //   left: 0;
    //   animation: slideLeft 1s ease-in-out 3s forwards;
    // }
    // .sectionRight {
    //   right: 0;
    //   animation: slideRight 1s ease-in-out 3s forwards;
    // }
    .fixedTL {
      position: fixed;
      top: 10%;
      left: 10%;
    }
    .fixedTR {
      position: fixed;
      top: 10%;
      right: 10%;
    }
    .fixedBL {
      position: fixed;
      bottom: 10%;
      left: 10%;
    }
    .fixedBR {
      position: fixed;
      bottom: 10%;
      right: 10%;
    }
  }
}
// @keyframes shrink {
//   100% {
//     opacity: 1;
//     letter-spacing: 0.5rem;
//     word-spacing: 0.8rem;
//   }
// }
@keyframes shine {
  100% {
    left: 25rem;
  }
}
@keyframes waterFill {
  0% {
    clip-path: polygon(
      0 43%,
      4% 33%,
      11% 24%,
      21% 20%,
      33% 19%,
      43% 26%,
      48% 36%,
      53% 46%,
      58% 57%,
      67% 62%,
      78% 62%,
      86% 58%,
      94% 50%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0 35%,
      5% 44%,
      10% 51%,
      20% 57%,
      30% 58%,
      40% 53%,
      49% 45%,
      53% 35%,
      59% 27%,
      69% 21%,
      79% 18%,
      89% 24%,
      96% 32%,
      100% 43%,
      100% 100%,
      0% 100%
    );
  }
}
@keyframes scaleDown {
  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
// @keyframes slideLeft {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(-100%);
//   }
// }
// @keyframes slideRight {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(100%);
//   }
// }
