.card {
  width: 288px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;

  .liIcon{
    position: relative;
    top: 0.3rem;
  }

  .card_image {
    border-radius: 10px;
    height: 66%;
    width: 100%;
  }

  .card_info {
    font-size: 0.875rem;
    padding: 1.1rem;

    .designation {
      color: #828282;
      font-size: 0.875rem;
    }

    .personName {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}
