@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bar {
  height: 126px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  justify-content: center;

  .component1 {
    .logo {
      position: relative;
      left: 10%;
      display: grid;
      grid-template-columns: 84px 89px 60px;
      justify-content: space-between;
      align-items: center;
      width: 249px;
      height: 84px;
      .nssLogo {
        display: inline-block;
        width: 84px;
        height: 84px;
      }
      .nss {
        display: inline-block;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 55px;
        text-align: right;

        color: #333333;
      }
      .bits {
        display: inline-block;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 109.5%;
        /* or 20px */

        color: #333333;
      }
    }
  }
  .component2 {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: space-evenly;
    .NavLink {
      display: inline-block;
      padding: 5px;
      margin: 5px;
      text-decoration: none;

      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

      color: #333333;
    }
    .NavLink:active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .toggle {
    display: none;
  }
  .Barlinks {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .bar {
    .component2 {
      display: none;
    }
    .toggle {
      display: block;
      justify-self: flex-end;
      margin-right: 2rem;
      width: max-content;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
      .FiMenu {
        height: 2rem;
        width: 2rem;
      }
    }
    .toggle:hover {
      background: #fffeed;
    }
    .Barlinks {
      background: white;
      z-index: 5;
      position: fixed;
      top: 6rem;
      right: 2rem;
      width: 60%;
      display: grid;
      grid-template-rows: repeat(5, 1fr);

      button {
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.25rem;

        background: white;
        border-radius: 1.25rem 0rem 0rem 1.25rem;
        padding-left: 1rem;
        color: #000000;
        height: 4.0625rem;
        border: none;
        cursor: pointer;
      }
      button:hover {
        background: #fffeed;
      }
      .closeBtn {
        justify-self: right;
        width: max-content;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}
