@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bar {
  height: 126px;
  display: grid;
  grid-template-columns: 4fr 6fr 2fr;
  align-items: center;
  justify-content: center;

  .component1 {
    .logo {
      position: relative;
      left: 10%;
      display: grid;
      grid-template-columns: 84px 89px 60px;
      justify-content: space-between;
      align-items: center;
      width: 249px;
      height: 84px;
      .nssLogo {
        display: inline-block;
        width: 84px;
        height: 84px;
      }
      .nss {
        display: inline-block;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 55px;
        text-align: right;

        color: #333333;
      }
      .bits {
        display: inline-block;
        font-family: Times New Roman;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 109.5%;
        /* or 20px */

        color: #333333;
      }
    }
  }
  .component2 {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: space-evenly;
    .NavLink {
      display: inline-block;
      padding: 5px;
      margin: 5px;
      text-decoration: none;

      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

      color: #333333;
    }
    .NavLink:active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .toggle {
    border: 2px solid black;
  }

  .Barlinks {
    display: block;
    background: rgba(252, 255, 59, 0.9);
    position: absolute;
    top: 5rem;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
  .bar {
    .component2 {
      display: none;
    }
  }
}
