@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.section_heading {
  font-family: poppins;
  font-weight: bold !important;
  width: 80%;
  margin: 0 auto;
  font-size: 4rem !important;
  margin-bottom: 3rem;
}

.anchor_class {
  color: blue;
}

.blue_bullet {
  width: 12rem;
  height: 0.5rem;
  background: #064396;
  border-radius: 0px 5px 5px 0px;
  position: relative;
  top: 1.8rem;
  right: 12.5rem;
}

.mainDivision {
  width: 100%;
  margin-top: 4rem;
  font-family: poppins;
}

.mainDivision .aboutTop {
  margin-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.mainDivision .aboutTop .aboutSectionH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainDivision .aboutTop .aboutSectionH .bullet {
  width: 0.8%;
  margin-right: 2.2%;
  height: 2.5rem;
  position: relative;
  bottom: 0.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainDivision .aboutTop .aboutSectionH .title {
  width: 97%;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.mainDivision .aboutTop .aboutSectionI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

.mainDivision .aboutTop .aboutSectionI .aboutInfoGap {
  width: 3%;
}

.mainDivision .aboutTop .aboutSectionI .aboutInfo {
  width: 97%;
}

.mainDivision .aboutTop .aboutSectionI .aboutInfo .mobInfo {
  display: none;
}

.mainDivision .team_heading {
  font-weight: 700;
  color: #064396;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.mainDivision .profileCards {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-column-gap: 7rem;
  grid-row-gap: 3rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 3rem;
}

.mainDivision .profileCardsAlways {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-column-gap: 7rem;
  grid-row-gap: 3rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 3rem;
}

.mainDivision .carouselab1 {
  display: none;
  margin: 0 auto;
}

@media all and (max-width: 800px) {
  .aboutTop .bullet,
  .aboutTop .aboutInfoGap {
    display: none;
  }
  .aboutTop .title,
  .aboutTop .aboutInfo {
    width: 80%;
  }
  .aboutTop .aboutInfo .desktopInfo {
    display: none;
  }
  .aboutTop .aboutInfo .mobInfo {
    display: block !important;
    margin-top: 0.5rem;
  }
  .aboutTop .title {
    font-size: 2.5rem !important;
    text-align: center !important;
  }
  .section_heading {
    font-size: 3.2rem !important;
    text-align: center;
  }
  .hiddenimage {
    display: none;
  }
  .mainDivision .profileCards {
    width: 80%;
    display: none;
  }
  .mainDivision .profileCardsAlways {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainDivision .carouselab1 {
    display: block;
    width: 80%;
  }
}
/*# sourceMappingURL=aboutus.css.map */