@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.section_heading {
  font-family: poppins;
  font-weight: bold !important;
  width: 80%;
  margin: 0 auto;
  font-size: 4rem !important;
  margin-bottom: 3rem;
}

.anchor_class{
  color: blue;
}

.blue_bullet{
  width: 12rem;
  height: 0.5rem;
  background: #064396;
  border-radius: 0px 5px 5px 0px;
  position: relative;
  top: 1.8rem;
  right: 12.5rem;
}

.mainDivision {
  width: 100%;
  margin-top: 4rem;
  font-family: poppins;

  .aboutTop {
    margin-bottom: 3rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    .aboutSectionH {
      display: flex;

      .bullet {
        width: 0.8%;
        margin-right: 2.2%;
        height: 2.5rem;
        position: relative;
        bottom: 0.2rem;
        align-self: center;
      }

      .title {
        width: 97%;
        font-weight: bold;
        font-size: 2.8rem;
        margin-bottom: 0.5rem;

      }
    }

    .aboutSectionI {
      display: flex;
      font-size: 1rem;

      .aboutInfoGap {
        width: 3%;
      }

      .aboutInfo {
        width: 97%;

        .mobInfo{
          display: none;
        }
      }
    }
  }

  .team_heading {
    font-weight: 700;
    color: rgba(6, 67, 150, 1);
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .profileCards {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 1.5rem;
  }

  .mobCardsab{
    display: none;
    margin: 0 auto;
  }  
}

@media all and (max-width: 800px) {

  .aboutTop {
    .bullet,
    .aboutInfoGap {
      display: none;
    }
    .title,
    .aboutInfo {
      width: 80%;
    }

    .aboutInfo{
      .desktopInfo{
        display: none;
      }

      .mobInfo{
        display: block !important;
        margin-top: 0.5rem;
      }
    }

    .title{
      font-size: 2.5rem !important;
      text-align: left !important;
    }
  }

  .section_heading{
    font-size: 3.2rem !important;
    text-align: center;
  }

  .hiddenimage{
    display: none;
  }

  
}

@media all and (max-width: 600px) {
  .mainDivision{
    .profileCards{
      width: 80%;
      display: none;
    }

    .mobCardsab{
      display: flex;
      gap: 1.3rem;
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }

}