@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.section_heading {
  font-family: poppins;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.mainDivision{
    width: 75%;
    margin: 0 auto;
    font-family: poppins;

    .aboutTop{
        margin-bottom: 3rem;
        .aboutSectionH{
            display: flex;

            .bullet{
                width: 3%;
                align-self: center;
            }

            .title{
                width: 97%;
                font-weight: bold;
                font-size: 2.5rem;
            }
        }

        .aboutSectionI{
            display: flex;

            .aboutInfoGap{
                width: 3%;
            }

            .aboutInfo{
                width: 97%;
            }
        }
    }

    .team_heading{
        font-weight: 700;
        color: rgba(6, 67, 150, 1);
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .profileCards{
    
        display: grid;
        grid-column-gap: 7rem;
        grid-row-gap: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
        margin-bottom: 3rem;
    }
}