

.mobCardWrapper{
    //display: inline-block;
}

.mobCardDE{
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    font-family: poppins;

    margin: 0 auto;

    .mobCardimg{
        margin-top: 7.5%;
        width: 80%

        img{
            width: 100%;
        }
    }

    .titleDE{
        //text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;

        .title_text{
            text-align: center;
        }
    }

    .cardBottom{
        background: #FFFFFF8F;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 0.8rem 0.8rem;
        cursor: pointer;

        .viewDeets{
            font-size: 0.875rem;
            font-weight: bold;
        }
    }
}

@media all and (max-width: 400px){
    .mobCardDE{
        width: 140px;
    }
}