.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  width: 288px;

  .card_image {
    border-radius: 10px;
    height: 66%;
    width: 100%;
  }

  .card_info {
    font-size: 0.65rem;
    padding: 1.1rem;

    .event {
      color: #828282;
      font-size: 0.875rem;
    }

    .event_heading {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .view_more {
      margin-top: 0.5rem;
      font-weight: 600;
      font-size: 00.875rem;
    }
  }
}

@media all and (max-width: 400px) {
  .card{
    width: 100%;
  }
}
