.card {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      background: #ffffff;

      .card_image {
        border-radius: 10px;
        height: 66%;
        width: 100%;
      }

      .card_info {
        font-size: 0.65rem;
        padding: 1.1rem;

        .event {
          color: #828282;
        }

        .event_heading {
          font-weight: 700;
          font-size: 1.4rem;
        }

        .view_more {
          margin-top: 5px;
          font-weight: 600;
        }
      }
    }