@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.button {
  display: block;
  color: white;
  background: #2f80ed;
  cursor: pointer;
  border-radius: 15px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.modalTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 2rem;
}

.modalInfo {
  font-family: "Poppins";
  font-size: 0.9rem;
  // font-weight: bold;
}

.card {
  display: flex;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  width: 288px;

  .card_image {
    border-radius: 10px;
    height: 66%;
    width: 100%;
  }

  .card_info {
    font-size: 0.65rem;
    padding: 1.1rem;

    .event {
      color: #828282;
      font-size: 0.875rem;
    }

    .event_heading {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .view_more {
      margin-top: 0.5rem;
      font-weight: 600;
      cursor: pointer;
      font-size: 00.875rem;
    }
  }
}

.card:hover {
  transform: scale(1.1);
}

@media all and (max-width: 800px) {
  .card:hover {
    transform: initial;
  }
  .card{
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .card {
    width: 100%;
  }
}
