.mobileContent {
  display: none;
}

.fetchedData {
  h1 {
    margin: 2rem 0;
  }
  blockquote {
    text-align: center;
    margin: 1rem 0rem;
  }
  ul {
    margin-left: 3rem;
  }
  h2,
  h3,
  h4,
  p {
    margin: 1rem 0;
  }
  img {
    display: block;
    width: 30rem;
    max-width: 100%;
    margin: 2rem auto;
    border-radius: 0.75rem;
  }
}

.contentBody {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-column-gap: 1.875rem;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  height: max-content;

  .react-reveal {
    animation-duration: 1500ms !important;
  }

  width: 100%;

  .depAside {
    position: sticky;
    top: 0rem;
    display: grid;

    grid-template-rows: repeat(autofit, minmax(200px, 1fr));
    height: max-content;
    grid-row-gap: 0.5rem;
    padding-top: 3.0625rem;
    color: #9e9e9e;
    margin-bottom: 2rem;

    button {
      text-align: left;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.25rem;
      padding-left: 3rem;
      padding-right: 0.5rem;

      background: white;
      border-radius: 0px 1.25rem 1.25rem 0px;
      color: #000000;
      height: 4.0625rem;
      border: none;
      cursor: pointer;
    }
    // button:hover {
    //   background: rgba(255, 251, 165, 0.2);
    // }
  }
  .mainContent {
    border-radius: 1.5rem;
    padding: 2.5rem 3.5rem;

    margin: 3rem 3rem 5rem 3rem;
    margin-bottom: 2rem;

    font-size: 1.125rem;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      line-height: 4.5rem;
      color: black;
    }
    .caption {
      font-style: italic;
      line-height: 1.6875;
      /* identical to box height */

      color: #2f80ed;
    }
    p {
      line-height: 2.125rem;
      color: #1a1919;
    }
    ul {
      line-height: 2.125rem;
      color: black;
    }
    h2 {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 4rem;
    }
    .d3AppWeb {
      margin: 1rem;
    }
  }
}

@media all and (max-width: 800px) {
  .contentBody {
    display: none !important;
  }

  .mobileContent {
    display: block !important;
  }

  .mobTitle {
    width: 90%;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: poppins;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .mobColsD {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .backMob {
    width: 90%;
    font-family: poppins;
    color: #064396;
    margin: 1rem auto 1rem;
    cursor: pointer;
  }

  .mobModal {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: #e6ffb160;
    border-radius: 0.8rem;
    font-family: poppins;
    padding: 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

@media all and (max-width: 380px) {
  .mobColsD {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 0.5rem;
    margin-bottom: 2rem;
  }
}
