@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");



option {
  font-family: "Poppins";
  font-weight: 500;
}

.section_heading_home {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
}

.mainInfo {
  display: flex;
  justify-content: center;
  font-family: poppins;
  margin-bottom: 4rem;
  margin-top: 4.5rem;

  .react-reveal{
      animation-duration: 1700ms !important;
    }

  .homeFlexBox {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      max-width: 100%;
    }

    .button_div_mob {
      display: none;
      margin-top: 2rem;
      cursor: pointer;
      .button {
        display: block;
        color: white;
        background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
        border-radius: 15px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
      }
    }

    .homeLeft {
      width: 50%;
      padding-right: 10%;
      display: flex;
      flex-direction: column;

      .homeRight_mob {
        width: 100%;
        display: none;
        .homeimg {
          justify-content: center;
          margin-bottom: 2rem;
          margin-top: 1rem !important;
        }
      }

      .button_div {
        display: flex;
        margin-top: 2rem;
        cursor: pointer;
        .button {
          display: block;
          color: white;
          background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
          border-radius: 15px;
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
          padding-left: 1.3rem;
          padding-right: 1.3rem;
        }
      }
    }

    .homeRight {
      width: 50%;
      .homeimg {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.homeAbout {
  font-family: poppins;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;

  .react-reveal{
      animation-duration: 1700ms !important;
    }

  img {
    max-width: 100%;
  }

  .aboutInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    margin-bottom: 4rem;

    .aboutFlexBox {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .left_mob {
        display: none;
        .homeimg {
          display: flex;
          justify-content: flex-start;
        }
      }

      .left {
        width: 50%;
        .homeimg {
          display: flex;
          justify-content: flex-start;
        }
      }

      .right {
        width: 50%;
        padding-left: 10%;
      }

      .leftB {
        width: 50%;
        padding-right: 10%;
      }

      .rightB_mob {
        display: none;
        .homeimg {
          display: flex;
          justify-content: flex-start;
        }
      }

      .rightB {
        width: 50%;
        .homeimg {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.initiatives {
  font-family: poppins;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 7rem;

  .react-reveal{
      animation-duration: 750ms !important;
    }

  .homeCarousel1,
  .homeCarousel2 {
    display: none !important;
  }

  .cards {
    display: grid;
    margin-top: 2rem;
    // grid-row-gap: 2.4rem;

    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 7rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    //grid-template-columns: repeat(auto-fit, 1fr);
  }

  .button_div {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    cursor: pointer;
    .button {
      display: block;
      color: white;
      background: #2f80ed;
      cursor: pointer;
      border-radius: 15px;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }
}

.departments {
  font-family: Poppins;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;

  .react-reveal{
      animation-duration: 1700ms !important;
    }

  .cards {
    display: grid;
    margin-top: 5rem;
    grid-row-gap: 4rem;
    grid-column-gap: 7rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .cardsMob {
    display: grid;
    margin-top: 2.3rem;
    grid-row-gap: 6rem;
    grid-column-gap: 7.4rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    display: none;
  }

  .formMob {
    display: none;
  }
}

@media all and (max-width: 1050px) {
  .homeimg {
    margin-top: 2rem !important;
  }

  .mainInfo{
    .react-reveal{
      animation-duration: 1200ms !important;
    }
  }

  .homeAbout {

    .react-reveal{
      animation-duration: 1200ms !important;
    }

    .aboutFlexBox {
      .left {
        display: none;
      }

      .left_mob {
        display: block !important;
      }

      .rightB {
        display: none;
      }

      .rightB_mob {
        display: block !important;
      }
    }
  }

  .section_heading {
    font-size: 2.2rem;
    margin: 0 auto;
  }

  .departments {

    .react-reveal{
      animation-duration: 1200ms !important;
    }
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  .initiatives {
    width: 85%;
    .homeCarousel2 {
      display: block !important;
    }

    .homeCarousel1,
    .cards_desk {
      display: none;
    }
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .mainInfo {
    .homeFlexBox {
      flex-direction: column;

      .button_div_mob {
        display: flex;
        width: 100%;
        align-self: center;
        justify-content: center;
      }

      .homeLeft {
        width: 100%;
        padding-right: 0;

        .homeRight_mob {
          .homeimg {
            display: flex;
            justify-content: center;
          }
        }

        .section_heading_home {
          text-align: center;
        }

        .button_div {
          display: none;
        }
      }
      .homeRight_mob {
        display: block !important;
        .homeimg {
          justify-content: center;
        }
      }

      .homeRight {
        width: 100%;
        margin-top: 2rem;
        display: none;

        .homeimg {
          justify-content: center;
        }
      }
    }
  }

  .homeAbout {
    .aboutInfo {
      flex-direction: column;
      .aboutFlexBox {
        flex-direction: column;

        .left,
        .left_mob,
        .right,
        .leftB,
        .rightB,
        .rightB_mob {
          width: 100%;
        }

        .left,
        .left_mob,
        .rightB_mob,
        .rightB {
          .homeimg {
            justify-content: center;
          }
        }

        .right,
        .leftB {
          padding-left: initial;
          padding-right: initial;
        }

        .rightB {
          margin-top: 1.4rem;
        }

        .right {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .mainInfo {
    margin-top: 2rem;
  }

  .section_heading_home {
    font-size: 2.2rem;
    text-align: center;
  }

  .homeimg {
    margin-top: 2rem !important;
  }

  .homeAbout {
    margin-top: 4rem !important;
  }

  .initiatives {
    margin-top: 4rem !important;
  }

  .departments {
    margin-top: 3rem !important;
  }

  .formMob {
    margin-top: 2rem;
  }

  .hiddenimageH {
    display: none;
  }

  .initiatives {
    .homeCarousel1 {
      display: block !important;
    }

    .cards_desk {
      display: none;
    }

    .homeCarousel2 {
      display: none !important;
    }
  }

  .departments {
    .cardsMob {
      display: block;
    }

    .formMob {
      display: block;
    }

    .cards {
      display: none;
    }
  }
}
