@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.section_heading {
  font-family: poppins;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.mainInfo {
  display: flex;
  justify-content: center;
  font-family: poppins;
  margin-bottom: 4rem;

  .homeFlexBox {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      max-width: 100%;
    }

    .homeLeft {
      width: 50%;
      padding-right: 10%;
      display: flex;
      flex-direction: column;

      .button_div {
        display: flex;
        margin-top: 2rem;
        cursor: pointer;
        .button {
          display: block;
          color: white;
          background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
          border-radius: 15px;
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
          padding-left: 1.3rem;
          padding-right: 1.3rem;
        }
      }
    }

    .homeRight {
      width: 50%;
    }
  }
}

.homeAbout {
  font-family: poppins;
  width: 75%;
  margin: 0 auto;

  img {
    max-width: 100%;
  }

  .aboutInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    margin-bottom: 4rem;

    .aboutFlexBox {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .left {
        width: 50%;
      }

      .right {
        width: 50%;
        padding-left: 10%;
      }

      .leftB {
        width: 50%;
        padding-right: 10%;
      }

      .rightB {
        width: 50%;
      }
    }
  }
}

.initiatives {
  font-family: poppins;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3rem;

  .cards {
    display: grid;
    // grid-row-gap: 2.4rem;

    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 7rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    //grid-template-columns: repeat(auto-fit, 1fr);
  }

  .button_div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
    .button {
      display: block;
      color: white;
      background: #2f80ed;
      border-radius: 15px;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }
}

.departments {
  font-family: poppins;
  width: 75%;
  margin: 0 auto;

  .cards {
    display: grid;
    grid-gap: 7.4rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media all and (max-width: 1050px) {
  .section_heading {
    font-size: 2.2rem;
  }

  .mainInfo {
    .homeFlexBox {
      flex-direction: column;

      .homeLeft {
        width: 100%;

        .button_div {
          align-self: center;
        }
      }

      .homeRight {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }

  .homeAbout {
    .aboutInfo {
      flex-direction: column;
      .aboutFlexBox {
        flex-direction: column;

        .left,
        .right,
        .leftB,
        .rightB {
          width: 100%;
        }

        .right,
        .leftB {
          padding-left: initial;
          padding-right: initial;
        }

        .rightB {
          margin-top: 1.4rem;
        }

        .right {
          margin-top: 1rem;
        }
      }
    }
  }
}
