.depcard {
  display: block;

  .card_heading {
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block;

    .card_color {
      width: 100%;
      height: 40px;
      position: relative;
      left: 50%;
    }
  }

  .depInfo {
    margin-top: 1rem;
  }
}
