.depcard {
  display: block;
  cursor: pointer;

  .card_heading {
    font-weight: 600;
    font-size: 1.6rem;
    display: inline-block; 

     .card_color {
      width: 60%;
      height: 2rem;
      position: relative;
      bottom: 2.1rem;
      left: 60%;
      z-index: -1;
      transition: width 0.7s;
    }
  } 

  .depInfo {
  
  }
}

.depcard:hover{
  .card_color{
      width: 0.2*100vw;
      left: initial;
    }
}

@media all and (max-width: 800px){
  .depcard{
    .card_heading{
    display: none;
  }

  }
  
} 
