body {
  max-width: 100%;
  overflow-x: hidden;
  .recruitments {
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    //background-color: hsl(54, 100%, 60%);
    .recruitmentsBody {
      background-color: hsl(0, 0%, 100%);
      border-radius: 15vw 0;
      height: calc(100vh - 102px);
      align-items: center;
      text-align: center;
      .title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 4.5rem;
        color: #333333;
      }
      p {
        font-size: 1.1rem;
        text-align: left;
      }
      .link {
        color: hsl(271, 100%, 30%);
        &:hover {
          text-decoration: underline;
        }
        &:active {
          color: hsl(271, 100%, 20%);
        }
      }
      .button_div {
        display: inline-block;
        cursor: pointer;
        .button {
          display: block;
          color: white;
          background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
          border-radius: 1rem;
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
          padding-left: 1.3rem;
          padding-right: 1.3rem;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  body {
    .recruitments {
      .recruitmentsBody {
        border-radius: 5rem 0;
        .title {
          font-size: 2rem;
          line-height: 3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .buttonsR{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
.button_div{
   padding: 1px;
   width: 80%;
   .button{
     width: 100%;
   }
}

}

@media all and (min-width: 576px) and (max-width: 768px) {
  body {
    .recruitments {
      .recruitmentsBody {
        border-radius: 5rem 0;
        .title {
          font-size: 2.5rem;
          line-height: 3.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
