.container_con{
  display: none;
}

.container {
  margin: 3.75rem 9.375rem 0rem 9.375rem;
  display: grid;
  width: 100%;
  grid-template-columns: max-content max-content;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;

  form {
    display: grid;
    grid-template-rows: repeat(8, max-content);
    h1 {
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 4.5rem;
      /* identical to box height */

      //color: #333333;
    }
    .inputHead {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin: 2.6875rem 0rem 1rem 0.125rem;

      color: #000000;
    }
    input {
      font-size: 1.4375rem;
      line-height: 2.125rem;

      color: #828282;
      border: none;
      border-bottom: 1px solid #828282;
      width: 25.625rem;
    }
    [type="submit"] {
      height: 5.25rem;
      width: 17.625rem;
      background: #333333;
      border-radius: 1.25rem;

      font-size: 1.4375rem;
      line-height: 2.125rem;
      /* identical to box height */

      color: #ffffff;
    }
    #message {
      width: 66.4375rem;
      margin-bottom: 3.5rem;
    }
  }
  .mapContainer {
    width: 33.3125rem;
    height: 23.5625rem;
    position: relative;
    left: -30.1875rem;
    margin-top: 3.3125rem;
    display: flex;
    justify-content: center;
    iframe {
      width: 100%;
      height: 300px;
    }
  }
}
@media all and (max-width: 1300px) {

  .container{
    display: none !important;
  }

  .container_con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem !important;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      line-height: 4.5rem;
      /* identical to box height */

      color: #333333;
    }
    .inputHead_mob {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin: 2.6875rem 0rem 1rem 0.125rem;

      color: #000000;
    }
    input {
      font-size: 1.4375rem;
      line-height: 2.125rem;

      color: #828282;
      border: none;
      border-bottom: 1px solid #828282;
      width: 100%;
    }
    textarea{
      font-size: 1.4375rem;
      line-height: 2.125rem;

      color: #828282;
      border: none;
      border: 1px solid #828282;
      width: 100%;
      padding: 8px;
      border-radius: 1rem;
    }

    [type="submit"] {
      height: 4rem;
      width: 14rem;
      background: #333333;
      border-radius: 1.25rem;

      font-size: 1.4rem;
  

      color: #ffffff;
    }

    .button_form_mob{
      margin-top: 3rem;
      display: flex;

    }

    .mapContainer_mob{
      width: 75%;
      margin: 0 auto 0;
      margin-top: 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: bold;
      }
      img{
        width: 125px;
      }
      
    }

    
}
}


@media all and (max-width: 800px) {

  .mapContainer_mob{
    width: 100% !important;
  }
}