body {
  max-width: 100vw !important;
  .contactBody {
    max-width: 100% !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    h1 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 4.5rem;
      /* identical to box height */

      color: #333333;
    }
    h2 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 3rem;
      color: #333333;
    }
    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      color: #333333;
    }
    .mapContainer {
      width: calc(100% - 2rem);
      height: 50vh;
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
    }
  }
  .contactForm {
    form {
      .inputHead {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin: 2.6875rem 0rem 1rem 0.125rem;

        color: #000000;
      }
      input {
        font-size: 1.4375rem;
        line-height: 2.125rem;

        color: #828282;
        border: none;
        border-bottom: 1px solid #828282;
        width: 35rem;
        max-width: 100%;
      }
      [type="submit"] {
        height: 5rem;
        width: 14rem;
        background: #333333;
        border-radius: 1.25rem;

        font-size: 1.4375rem;
        line-height: 2.125rem;
        /* identical to box height */

        color: #ffffff;
      }
      textarea {
        width: 35rem;
        max-width: 100%;
        font-size: 1.4375rem;
        line-height: 2.125rem;

        color: #828282;
        border: none;
        border: 1px solid #828282;
        padding: 1rem;
        border-radius: 1rem;
      }
    }
  }
}
@media all and (max-width: 1200px) {
  .contactForm {
    h1 {
      font-weight: bold;
      font-size: 3rem;
      line-height: 4.5rem;
      /* identical to box height */

      //color: #333333;
    }
    .inputHead {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin: 2.6875rem 0rem 1rem 0.125rem;

      color: #000000;
    }
    input {
      font-size: 1.4375rem;
      line-height: 2.125rem;

      color: #828282;
      border: none;
      border-bottom: 1px solid #828282;
    }

    [type="submit"] {
      height: 4rem;
      width: 13rem;
      background: #333333;
      border-radius: 1.25rem;

      font-size: 1.4rem;

      color: #ffffff;
    }
  }
}

@media all and (max-width: 768px) {
  .contactForm {
    form {
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        font-family: poppins;
      }
    }
  }
}
